@media screen and (max-width:1700px) {
    body .walk {
        display: none;
    }

    main .section.two{
    overflow: hidden;
}

}





@media screen and (max-width: 1350px) {
    .br {
        display: none
    }

    main .section.one .banner {

        gap: 5rem;
        flex-direction: column-reverse;
        text-align: center;
    }

   

    main .section.one .up,
    main .section.one .down {
        width: 100%;      
        gap: 10rem;display: flex;
        width: 100%;    
        gap: 10rem;
        align-items: center;
        justify-content: center;
    }

    /* main .section.one .up img,
    main .section.one .down img {
        width: 50% !important;
        height: auto !important;
    } */



    
     main .section.two .card {
        flex-direction: column !important;
        padding: 0 20rem;
        margin-bottom: 8rem;


    }

    main .section.two .card {
        row-gap: 5rem;
    }

    main .section.two .card img {
        width: 100%;
        height: auto;
        /* margin-bottom: 2rem; */

    }

    main .section.two .card:nth-child(3),
    main .section.two .card:nth-child(6) {
        flex-direction: column-reverse !important;
    }



    .info {
        text-align: center;

    }

    .button {
        justify-content: center;
    }



 main .section.three .news .card img {
        width: 100%;
        height: auto;
        /* margin-bottom: 2rem; */

    }


 main .section.three .news {
       
        padding: 0 10rem;
        
 }




 main .section.four .Page img {
        
        height: auto;
        /* margin-bottom: 2rem; */

    }


 main .section.four .detail_page {
       
        padding: 0 10rem;}
      

}
/* --------------------------------------------------- */
@media screen and (max-width: 1000px){
     /* html {
        font-size: 8px;
    } */

    main .section.zero .profile .profile_info{
        top: 25%;
    }


    header .folio img {
        width: 100%;
    position: absolute;
    
    left: -5%;
    

}
    /* header .folio p img {
        display: none;}
         */
}


main .section.one .down img:nth-child(2) {

    width: 30rem;
    height: 25rem;
}


 main .section.four .Page img {
        width: 100%;
        height: auto;
        /* margin-bottom: 2rem; */

    }


 main .section.four .detail_page {
       
        padding: 0 10rem;}
      








/* ---------------------------------------------- */
@media screen and (max-width: 800px) {



    header {
        height: auto;
        /* padding-top: 10rem; */
        margin-bottom: 30rem;
    }


    header .port p,
    header .folio p {
        font-size: 10rem;
        transform: none;
        /* 복잡한 위치 이동 해제 */
        left: 0;
        text-align: center;
        display: block;
        transform: translateY(20rem);
    }

    header .folio {
        transform: translateY(0);
        margin-top: -2rem;
    }

    header .folio p::after {
       display: none;
    }

    /* 스포트라이트 이미지 */
    header .folio img {
       display: none;
    }





    /* ----------프로필 영역------- */
    main .section.zero {
        height: 30rem;
        margin-bottom: 40rem;
    }



    main .section.zero .profile {
        height: auto;
        background-image: none;
        padding: 5rem 2rem;
    }

    main .section.zero .profile .profile_info {
        position: static;
        transform: none;
        flex-direction: column-reverse;
        /* 반대로 */
        align-items: center;
        gap: 3rem;
        color: #fff;
    }

    main .section.zero .profile .profile_info div {
        text-align: center;
    }







    .line {
        margin-top: 20rem;
        /* height: 20rem; 높이 축소 */
    }

    .line .line_1 {}

    .line .line_2 {
        top: 30%;

    }

    .line p {
        font-size: 2rem;
        padding: 1.5rem;
    }



    /* -------배너-------- */
    main .section.one .banner {
        flex-direction: column;
        gap: 5rem;
        flex-direction: column-reverse;
        text-align: center;
    }

    main .section.one .up,
    main .section.one .down {
        width: 100%;
        flex-direction: column;
        /* align-items: center; */
        gap: 10rem;
    }

    main .section.one .up img,
    main .section.one .down img {
        width: 100% !important;
        height: auto !important;
    }











    /* ------코딩-------- */
    main .section.two .card {
        flex-direction: column !important;
        padding: 0 4rem;
        margin-bottom: 8rem;


    }

    main .section.two .card {
        row-gap: 5rem;
    }

    main .section.two .card img {
        width: 100%;
        height: auto;
        /* margin-bottom: 2rem; */

    }

    main .section.two .card:nth-child(3),
    main .section.two .card:nth-child(6) {
        flex-direction: column-reverse !important;
    }



    .info {
        text-align: center;

    }

    .button {
        justify-content: center;

    }





    /* ------- 카드 뉴스 및 상세 페이지 -------*/



    main .section.three .news,
    main .section.four .detail_page {
        flex-direction: column;
        
    }








    .title {
        font-size: 4rem;
        padding-bottom: 5rem;
         /* padding: 0 8rem; */
    }
}